html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 942px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* holiday-partner_____________________________________________________________ */

.find-wrapper {
    background-image: url("/img/Vector_Smart_Object.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.find-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}


.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    z-index: 3;
}

.title-wrapper {
    position: relative;
    z-index: 3;
}



.logo {
    margin: 0;
    padding-top: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.authorization-btn {
    display: flex;
    list-style-type: none;
}

.form {
    padding-top: 10px;
}


.btn-login {
    width: 80px;
    height: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-right: 20px;
    margin-top: 8px;

}

.btn-singup {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-top: 8px;

}

.border {
    width: 90px;
    height: 36px;
    border: 2px solid;
    border-radius: 20px;
    border-color: transparent;
}

.btn-login:hover {
    width: 90px;
    height: 36px;
    border: 2px solid #ffffff;
    transition: 0.5s;


}

.btn-singup:hover {
    width: 90px;
    height: 36px;
    border: 2px solid #ffffff;
    transition: 0.5s;

}


.btn-find {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    width: 225px;
    height: 40px;
    background-color: #ff4e50;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;

}

.title {
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.description {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;


}

/* section 2 ___________________________________________________________________________ */

.partners-title {
    margin-top: 70px;
    text-align: center;
    color: #333333;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin-top: 34px;

}

.partners-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.name-partners {
    text-align: center;
    color: #333333;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
}

.descript-partners {
    color: #666666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}

.partners-list_item {
    width: 211px;
    text-align: center
}

.other-partners {
    width: 192px;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    background-color: #ffffff;
    color: #ff4e50;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;
    margin-bottom: 73px;
    cursor: pointer;
}